@font-face {
  font-family: zekton;
  src: url("../font/zekton-webfont-webfont.woff") format("woff"), url("../font/zekton-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../font/Roboto-Thin.woff2") format("woff2"), url("../font/Roboto-Thin.woff") format("woff"), url("../font/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.woff") format("woff"), url("../font/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: none; }

img, button:focus {
  border-style: none;
  outline: none; }

img, iframe {
  width: 100%; }

p, h2, h3, h4 {
  font-size: 17px;
  text-decoration: none; }
  @media (min-width: 1024px) and (max-width: 1279px) {
    p, h2, h3, h4 {
      font-size: 17px; } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    p, h2, h3, h4 {
      font-size: 18px; } }
  @media (min-width: 1440px) {
    p, h2, h3, h4 {
      font-size: 19px; } }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#header {
  font-family: zekton, sans-serif; }

.heading, h2, h3, h4, .title .sub-title, h1 {
  font-family: zekton, sans-serif;
  font-weight: bold; }

h2 {
  color: #399;
  font-size: 28px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h2 {
      font-size: 36px; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 42px; } }

h3 {
  color: #F60;
  font-size: 26px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h3 {
      font-size: 30px; } }
  @media (min-width: 1024px) {
    h3 {
      font-size: 34px; } }

h4 {
  color: #399;
  font-size: 24px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h4 {
      font-size: 28px; } }
  @media (min-width: 1024px) {
    h4 {
      font-size: 30px; } }

#header {
  background-color: #ef6c00;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  font-family: zekton, sans-serif;
  overflow: hidden;
  height: 100px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    #header {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1024px) {
    #header {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    #header {
      height: 50px; } }
  @media (min-width: 1440px) {
    #header {
      height: 50px; } }

#body {
  width: 100%;
  padding: 0;
  margin-top: 100px; }
  @media (min-width: 1280px) and (max-width: 1439px) {
    #body {
      margin-top: 50px; } }
  @media (min-width: 1440px) {
    #body {
      margin-top: 50px; } }

#logo {
  height: 50px;
  float: left; }

#user, #logo {
  height: 50px;
  float: right; }
  #user a, #logo a {
    float: left;
    white-space: nowrap;
    color: #ffd180;
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    line-height: 47px;
    text-align: center;
    border: none;
    list-style: none; }
    #user a:hover, #logo a:hover {
      border-bottom: 3px solid #ffd180;
      text-decoration: none; }

#logo {
  float: left; }

#nav {
  height: 50px;
  overflow: hidden;
  float: left;
  max-width: 100%; }

#nav .scroll-hide {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: 90px; }
  #nav .scroll-hide .scroll-fix {
    width: 780px; }
  #nav .scroll-hide a {
    float: left;
    color: #ffd180;
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    line-height: 47px;
    text-align: center; }
    #nav .scroll-hide a:hover {
      border-bottom: 3px solid #ffd180;
      text-decoration: none; }

#selection-bar {
  float: left;
  z-index: 40;
  position: relative;
  width: 100%;
  background-color: #fb8c00;
  margin: 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5); }
  @media (min-width: 720px) and (max-width: 1023px) {
    #selection-bar {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1024px) {
    #selection-bar {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); } }

/* Arbitrarily large enough */
/* Arbitrarily large enough to fit all items horizontally in nav mode. Or cutoff beyond this point*/
/* Only if using outline-shadow*/
.selection-content .slider {
  height: auto; }
.selection-content .slider .scroll-hide {
  overflow-y: visible;
  height: auto; }
.selection-content .slider .scroll-fix {
  width: auto; }
.selection-content .slider a {
  width: calc(25% - 20px);
  margin: 10px; }
  .selection-content .slider a:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .selection-content .slider a:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(200, 200, 200, 0.05);
    text-decoration: none; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .selection-content .slider a:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5); } }
    @media (min-width: 1024px) {
      .selection-content .slider a:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); } }
  .selection-content .slider a:active {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(200, 200, 200, 0.08);
    text-decoration: none; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .selection-content .slider a:active {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8); } }
    @media (min-width: 1024px) {
      .selection-content .slider a:active {
        box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.8); } }

.selection-nav .slider {
  height: 200px; }
.selection-nav .slider .scroll-hide {
  overflow-y: hidden;
  height: 240px; }
.selection-nav .slider .scroll-fix {
  width: 9001px; }
.selection-nav .slider a {
  margin: 0;
  width: 200px;
  height: 200px;
  line-height: 200px; }
  .selection-nav .slider a:hover {
    border-bottom: 4px solid #ffd180;
    text-decoration: none; }
  .selection-nav .slider a:active {
    border-bottom: 4px solid #ffd180;
    text-decoration: none; }

.slider {
  overflow-y: hidden;
  overflow-x: visible;
  width: 100%;
  margin: auto; }

.slider .scroll-hide {
  max-width: 100%;
  overflow-x: auto; }

.slider .scroll-fix {
  overflow-x: visible; }

.slider a {
  position: relative;
  float: left;
  color: #ffd180;
  font-size: 20px;
  padding: 0;
  text-align: center;
  background-color: transparent; }

.slider-content {
  position: absolute;
  width: 100%;
  height: 100%; }

#footer {
  position: relative;
  float: left;
  background-color: #00897b;
  height: 250px;
  z-index: 1;
  width: 100%; }

#footer-filler {
  height: 250px; }

/* Carousel buttons*/
.slick-arrow, .slick-prev, .slick-next {
  width: 5%;
  min-width: 50px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 150;
  top: 0;
  font-size: 100%;
  border: none; }
  .slick-arrow img, .slick-prev img, .slick-next img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

/* Slider - https://kenwheeler.github.io/slick/ */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  z-index: 100; }

.slick-list {
  position: relative;
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden, .slick-hidden.slick-prev, .slick-hidden.slick-next {
  display: none; }

.block, .block-2, .block-3, .block-4, .block-6, .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6, .sidebar-right .sidebar-blocks .block, .sidebar-right .sidebar-blocks .block-2, .sidebar-right .sidebar-blocks .block-3, .sidebar-right .sidebar-blocks .block-4, .sidebar-right .sidebar-blocks .block-6 {
  float: left;
  position: relative;
  width: 100%;
  box-shadow: none;
  z-index: 0; }
  .block:hover, .block-2:hover, .block-3:hover, .block-4:hover, .block-6:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:hover, .sidebar-right .sidebar-blocks .block:hover, .sidebar-right .sidebar-blocks .block-2:hover, .sidebar-right .sidebar-blocks .block-3:hover, .sidebar-right .sidebar-blocks .block-4:hover, .sidebar-right .sidebar-blocks .block-6:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    z-index: 10; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .block:hover, .block-2:hover, .block-3:hover, .block-4:hover, .block-6:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:hover, .sidebar-right .sidebar-blocks .block:hover, .sidebar-right .sidebar-blocks .block-2:hover, .sidebar-right .sidebar-blocks .block-3:hover, .sidebar-right .sidebar-blocks .block-4:hover, .sidebar-right .sidebar-blocks .block-6:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5); } }
    @media (min-width: 1024px) {
      .block:hover, .block-2:hover, .block-3:hover, .block-4:hover, .block-6:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:hover, .sidebar-right .sidebar-blocks .block:hover, .sidebar-right .sidebar-blocks .block-2:hover, .sidebar-right .sidebar-blocks .block-3:hover, .sidebar-right .sidebar-blocks .block-4:hover, .sidebar-right .sidebar-blocks .block-6:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); } }
  .block:active, .block-2:active, .block-3:active, .block-4:active, .block-6:active, .content-section .content-row .sidebar-left .sidebar-blocks .block:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:active, .sidebar-right .sidebar-blocks .block:active, .sidebar-right .sidebar-blocks .block-2:active, .sidebar-right .sidebar-blocks .block-3:active, .sidebar-right .sidebar-blocks .block-4:active, .sidebar-right .sidebar-blocks .block-6:active {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
    z-index: 10; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .block:active, .block-2:active, .block-3:active, .block-4:active, .block-6:active, .content-section .content-row .sidebar-left .sidebar-blocks .block:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:active, .sidebar-right .sidebar-blocks .block:active, .sidebar-right .sidebar-blocks .block-2:active, .sidebar-right .sidebar-blocks .block-3:active, .sidebar-right .sidebar-blocks .block-4:active, .sidebar-right .sidebar-blocks .block-6:active {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8); } }
    @media (min-width: 1024px) {
      .block:active, .block-2:active, .block-3:active, .block-4:active, .block-6:active, .content-section .content-row .sidebar-left .sidebar-blocks .block:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:active, .sidebar-right .sidebar-blocks .block:active, .sidebar-right .sidebar-blocks .block-2:active, .sidebar-right .sidebar-blocks .block-3:active, .sidebar-right .sidebar-blocks .block-4:active, .sidebar-right .sidebar-blocks .block-6:active {
        box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.8); } }
  .block:after, .block-2:after, .block-3:after, .block-4:after, .block-6:after, .content-section .content-row .sidebar-left .sidebar-blocks .block:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:after, .sidebar-right .sidebar-blocks .block:after, .sidebar-right .sidebar-blocks .block-2:after, .sidebar-right .sidebar-blocks .block-3:after, .sidebar-right .sidebar-blocks .block-4:after, .sidebar-right .sidebar-blocks .block-6:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .block .block-content, .block-2 .block-content, .block-3 .block-content, .block-4 .block-content, .block-6 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-2 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-3 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-4 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 .block-content, .sidebar-right .sidebar-blocks .block .block-content, .sidebar-right .sidebar-blocks .block-2 .block-content, .sidebar-right .sidebar-blocks .block-3 .block-content, .sidebar-right .sidebar-blocks .block-4 .block-content, .sidebar-right .sidebar-blocks .block-6 .block-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.block-2 {
  width: 100%; }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-2 {
      width: 50%; } }
  @media (min-width: 1024px) {
    .block-2 {
      width: 50%; } }

.block-3 {
  width: 100%; }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-3 {
      width: 33.3333%; } }
  @media (min-width: 1024px) {
    .block-3 {
      width: 33.3333%; } }

.block-4 {
  background-color: #ffb74d;
  width: 100%; }
  @media (min-width: 480px) and (max-width: 719px) {
    .block-4 {
      width: 50%; } }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-4 {
      width: 50%; } }
  @media (min-width: 1024px) {
    .block-4 {
      width: 25%; } }

.block-6 {
  width: 100%; }
  @media (min-width: 480px) and (max-width: 719px) {
    .block-6 {
      width: 50%; } }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-6 {
      width: 33.33333%; } }
  @media (min-width: 1024px) {
    .block-6 {
      width: 16.66666%; } }

.block, .block-2, .block-3, .block-4, .block-6, .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6, .sidebar-right .sidebar-blocks .block, .sidebar-right .sidebar-blocks .block-2, .sidebar-right .sidebar-blocks .block-3, .sidebar-right .sidebar-blocks .block-4, .sidebar-right .sidebar-blocks .block-6 {
  float: left;
  position: relative;
  width: 100%;
  box-shadow: none;
  z-index: 0; }
  .block:hover, .block-2:hover, .block-3:hover, .block-4:hover, .block-6:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:hover, .sidebar-right .sidebar-blocks .block:hover, .sidebar-right .sidebar-blocks .block-2:hover, .sidebar-right .sidebar-blocks .block-3:hover, .sidebar-right .sidebar-blocks .block-4:hover, .sidebar-right .sidebar-blocks .block-6:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    z-index: 10; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .block:hover, .block-2:hover, .block-3:hover, .block-4:hover, .block-6:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:hover, .sidebar-right .sidebar-blocks .block:hover, .sidebar-right .sidebar-blocks .block-2:hover, .sidebar-right .sidebar-blocks .block-3:hover, .sidebar-right .sidebar-blocks .block-4:hover, .sidebar-right .sidebar-blocks .block-6:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5); } }
    @media (min-width: 1024px) {
      .block:hover, .block-2:hover, .block-3:hover, .block-4:hover, .block-6:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:hover, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:hover, .sidebar-right .sidebar-blocks .block:hover, .sidebar-right .sidebar-blocks .block-2:hover, .sidebar-right .sidebar-blocks .block-3:hover, .sidebar-right .sidebar-blocks .block-4:hover, .sidebar-right .sidebar-blocks .block-6:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); } }
  .block:active, .block-2:active, .block-3:active, .block-4:active, .block-6:active, .content-section .content-row .sidebar-left .sidebar-blocks .block:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:active, .sidebar-right .sidebar-blocks .block:active, .sidebar-right .sidebar-blocks .block-2:active, .sidebar-right .sidebar-blocks .block-3:active, .sidebar-right .sidebar-blocks .block-4:active, .sidebar-right .sidebar-blocks .block-6:active {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
    z-index: 10; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .block:active, .block-2:active, .block-3:active, .block-4:active, .block-6:active, .content-section .content-row .sidebar-left .sidebar-blocks .block:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:active, .sidebar-right .sidebar-blocks .block:active, .sidebar-right .sidebar-blocks .block-2:active, .sidebar-right .sidebar-blocks .block-3:active, .sidebar-right .sidebar-blocks .block-4:active, .sidebar-right .sidebar-blocks .block-6:active {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8); } }
    @media (min-width: 1024px) {
      .block:active, .block-2:active, .block-3:active, .block-4:active, .block-6:active, .content-section .content-row .sidebar-left .sidebar-blocks .block:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:active, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:active, .sidebar-right .sidebar-blocks .block:active, .sidebar-right .sidebar-blocks .block-2:active, .sidebar-right .sidebar-blocks .block-3:active, .sidebar-right .sidebar-blocks .block-4:active, .sidebar-right .sidebar-blocks .block-6:active {
        box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.8); } }
  .block:after, .block-2:after, .block-3:after, .block-4:after, .block-6:after, .content-section .content-row .sidebar-left .sidebar-blocks .block:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-2:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-3:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-4:after, .content-section .content-row .sidebar-left .sidebar-blocks .block-6:after, .sidebar-right .sidebar-blocks .block:after, .sidebar-right .sidebar-blocks .block-2:after, .sidebar-right .sidebar-blocks .block-3:after, .sidebar-right .sidebar-blocks .block-4:after, .sidebar-right .sidebar-blocks .block-6:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .block .block-content, .block-2 .block-content, .block-3 .block-content, .block-4 .block-content, .block-6 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-2 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-3 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-4 .block-content, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 .block-content, .sidebar-right .sidebar-blocks .block .block-content, .sidebar-right .sidebar-blocks .block-2 .block-content, .sidebar-right .sidebar-blocks .block-3 .block-content, .sidebar-right .sidebar-blocks .block-4 .block-content, .sidebar-right .sidebar-blocks .block-6 .block-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.block-2 {
  width: 100%; }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-2 {
      width: 50%; } }
  @media (min-width: 1024px) {
    .block-2 {
      width: 50%; } }

.block-3 {
  width: 100%; }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-3 {
      width: 33.3333%; } }
  @media (min-width: 1024px) {
    .block-3 {
      width: 33.3333%; } }

.block-4 {
  background-color: #ffb74d;
  width: 100%; }
  @media (min-width: 480px) and (max-width: 719px) {
    .block-4 {
      width: 50%; } }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-4 {
      width: 50%; } }
  @media (min-width: 1024px) {
    .block-4 {
      width: 25%; } }

.block-6 {
  width: 100%; }
  @media (min-width: 480px) and (max-width: 719px) {
    .block-6 {
      width: 50%; } }
  @media (min-width: 720px) and (max-width: 1023px) {
    .block-6 {
      width: 33.33333%; } }
  @media (min-width: 1024px) {
    .block-6 {
      width: 16.66666%; } }

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible; }

.column {
  overflow: visible;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .column {
      width: 1024px; } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    .column {
      width: 1280px; } }
  @media (min-width: 1440px) {
    .column {
      width: 1440px; } }

.content-section {
  float: left;
  width: 100%;
  margin: 0; }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .content-section {
      width: 800px;
      margin: 0; } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    .content-section {
      width: 840px;
      margin-left: 100px; } }
  @media (min-width: 1440px) {
    .content-section {
      width: 1160px;
      margin: 0; } }
  .content-section .content-row {
    float: left;
    width: 100%;
    margin: 0;
    /* Sticky scroll until end of content row*/ }
    .content-section .content-row .sidebar-left {
      width: 100%;
      float: left;
      margin: 0;
      /*Max 2 blocks*/ }
      @media (min-width: 1440px) {
        .content-section .content-row .sidebar-left {
          width: 280px; } }
      .content-section .content-row .sidebar-left .sidebar-blocks {
        margin: auto;
        max-width: 100%; }
        .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
          margin: auto;
          width: 100%; }
          @media (min-width: 480px) and (max-width: 719px) {
            .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
              width: 50%; } }
          @media (min-width: 720px) and (max-width: 1023px) {
            .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
              width: 33.33333%; } }
          @media (min-width: 1024px) {
            .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
              width: 33.33333%; } }
          @media (min-width: 1024px) and (max-width: 1279px) {
            .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
              width: 33.33333%; } }
          @media (min-width: 1280px) and (max-width: 1439px) {
            .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
              width: 33.33333%; } }
          @media (min-width: 1440px) {
            .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-blocks .block-6 {
              width: 100%; } }
    .content-section .content-row .content {
      float: left;
      margin: 0;
      width: 100%; }
      @media (min-width: 1440px) {
        .content-section .content-row .content {
          width: 880px; } }

.sidebar-right {
  width: 100%;
  float: left; }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .sidebar-right {
      width: 224px; } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    .sidebar-right {
      width: 240px; } }
  @media (min-width: 1440px) {
    .sidebar-right {
      width: 280px; } }
  .sidebar-right .sidebar-blocks {
    width: 100%;
    display: flex;
    flex-flow: row wrap; }
    .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-2, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-3, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-4, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-6, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-6, .sidebar-right .sidebar-blocks .block, .sidebar-right .sidebar-blocks .block-2, .sidebar-right .sidebar-blocks .block-3, .sidebar-right .sidebar-blocks .block-4, .sidebar-right .sidebar-blocks .block-6 {
      flex: 1 1 auto;
      width: 100%;
      min-width: 100%; }
      @media (min-width: 480px) and (max-width: 719px) {
        .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-2, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-3, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-4, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-6, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-6, .sidebar-right .sidebar-blocks .block, .sidebar-right .sidebar-blocks .block-2, .sidebar-right .sidebar-blocks .block-3, .sidebar-right .sidebar-blocks .block-4, .sidebar-right .sidebar-blocks .block-6 {
          width: 50%;
          min-width: 50%; } }
      @media (min-width: 720px) and (max-width: 1023px) {
        .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-2, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-3, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-4, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-6, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-6, .sidebar-right .sidebar-blocks .block, .sidebar-right .sidebar-blocks .block-2, .sidebar-right .sidebar-blocks .block-3, .sidebar-right .sidebar-blocks .block-4, .sidebar-right .sidebar-blocks .block-6 {
          width: 33%;
          min-width: 33%; } }
      @media (min-width: 1024px) {
        .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-2, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-2, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-3, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-3, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-4, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-4, .sidebar-right .content-section .content-row .sidebar-left .sidebar-blocks .block-6, .content-section .content-row .sidebar-left .sidebar-right .sidebar-blocks .block-6, .sidebar-right .sidebar-blocks .block, .sidebar-right .sidebar-blocks .block-2, .sidebar-right .sidebar-blocks .block-3, .sidebar-right .sidebar-blocks .block-4, .sidebar-right .sidebar-blocks .block-6 {
          width: 100%;
          min-width: 100%; } }
  .sidebar-right .page-nav {
    width: 100%;
    display: none; }
    @media (min-width: 1024px) {
      .sidebar-right .page-nav {
        display: block; } }

p, h2, h3, h4 {
  margin: 0 5px 16px 10px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    p, h2, h3, h4 {
      margin: 0 10px 20px 20px; } }
  @media (min-width: 1024px) and (max-width: 1279px) {
    p, h2, h3, h4 {
      margin: 0 20px 24px 40px; } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    p, h2, h3, h4 {
      margin: 0 40px 24px 40px; } }
  @media (min-width: 1440px) {
    p, h2, h3, h4 {
      margin: 0 60px 24px 40px; } }

h2 {
  margin-top: 36px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h2 {
      margin-top: 54px; } }
  @media (min-width: 1024px) {
    h2 {
      margin-top: 72px; } }

h3 {
  margin-top: 30px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h3 {
      margin-top: 45px; } }
  @media (min-width: 1024px) {
    h3 {
      margin-top: 60px; } }

h4 {
  margin-top: 24px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h4 {
      margin-top: 36px; } }
  @media (min-width: 1024px) {
    h4 {
      margin-top: 48px; } }

#body h1, #body .sub-title {
  color: #a7ffeb; }
#body .title {
  margin: 0;
  padding: 20px 0 40px 0; }
  @media (min-width: 1440px) {
    #body .title {
      margin-left: 20%; } }

#selection-bar h1, #selection-bar .sub-title {
  color: #ffd180; }

.title {
  float: left;
  width: 100%;
  margin: 0; }
  .title .sub-title {
    display: block;
    float: left;
    font-size: 24px;
    line-height: 46px;
    margin: 52px 0 16px 8px; }
    @media (min-width: 720px) and (max-width: 1023px) {
      .title .sub-title {
        font-size: 26px;
        line-height: 50px;
        margin: 75px 0 20px 8px; } }
    @media (min-width: 1024px) {
      .title .sub-title {
        font-size: 28px;
        line-height: 54px;
        margin: 130px 0 24px 8px; } }

h1 {
  float: left;
  font-size: 46px;
  margin: 42px 5px 16px 20px; }
  @media (min-width: 720px) and (max-width: 1023px) {
    h1 {
      font-size: 50px; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 54px; } }
  @media (min-width: 720px) and (max-width: 1023px) {
    h1 {
      margin: 63px 10px 20px 30px; } }
  @media (min-width: 1024px) and (max-width: 1279px) {
    h1 {
      margin: 84px 20px 24px 40px; } }
  @media (min-width: 1280px) and (max-width: 1439px) {
    h1 {
      margin: 84px 40px 24px 40px; } }
  @media (min-width: 1440px) {
    h1 {
      margin: 84px 60px 24px 40px; } }

.outline {
  border: 3px solid red; }

html {
  min-height: 100%; }

body {
  background-color: #009688;
  min-height: 100%;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
