.edit-panel {
  background-color: rgba(0,0,0,0.3);
  z-index: 699;
  color: white;
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s;
  h2, p {
    text-align: center;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    font-size: 28px;
  }
}


.edit-panel.hover {
  align-items: flex-start;
  transform: translateY(calc(100% - 30px));
  &:hover{
    transform: translateY(0);
  }
}
.edit-panel-section {
  z-index: 300;
  position: relative;
  width: 150px;
  height: 150px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: $teal-lighten-1;
}

.edit-panel-button, .edit-panel-button-special {
  z-index: 300;
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: orange;
  &:hover {
    z-index: 701;
    @include outline-shadow;
  }
  &:active{
    z-index: 701;
    @include emphasis-shadow;
  }
}

