$footer-height : 250px;
#footer {
  position: relative;
  float: left;
  background-color: $teal-darken-1;
  height:$footer-height;
  z-index:1;
  width:100%;

}
#footer-filler {
  height:$footer-height;
}