@import 'variables_mixins';

#header {
  background-color: $orange;
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @include outline-shadow;

  font-family: zekton, sans-serif;
}

#header-filler {
  height: $header-height;
  width: 100%;
  background-color: blue;
}

#logo {
  height: $header-height;
  float: left;
}

#user {
  height: $header-height;
  float: right;
  a {
    float: left;
    white-space: nowrap;
    color: $orange-accent-1;
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    line-height: $header-height - 2px;
    text-align: center;
    border: none;
    list-style: none;
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }

  }
}

#logo {
  @extend #user;
  float: left;
}

#nav {
  height: $header-height;
  overflow: hidden;
  float: left;
  max-width:100%;
}

.scroll-hide  {
  max-width:100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: $header-height + 40px;

  .scroll-fix {
    width:800px;
  }
  a {
    float: left;
    color: $orange-accent-1;
    font-size: 20px;
    height: 100%;
    padding: 0 20px;
    line-height: $header-height - 2px;
    text-align: center;
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }
  }
}




