@import 'variables_mixins';

.row {
  width: 100%;
  margin: 0;
}

/* Phone */
.column {
  width: 100%;
  margin: auto;
  @include small-desktop {
    width: $small-desktop-width;
  }
  @include medium-desktop {
    width: $medium-desktop-width;
  }
  @include large-desktop {
    width: $large-desktop-width;
  }
}

.content {
  float: left;
  width: 100%;
  margin:0;
  @include small-desktop {
    width: 800px;
    margin:0;
  }
  @include medium-desktop {
    width: 840px;
    margin-left:100px;
  }
  @include large-desktop {
    margin-left:280px;
    width: 880px;
  }
}

.sidebar {
  width: 0;
  float: left;
  display:none;
  @include desktop {
    width: 20%;
    display: block;
  }
  @include small-desktop {
    width: 224px;
  }
  @include medium-desktop {
    width: 240px;
  }
  @include large-desktop {
    width: 280px;
  }
}

.block {
  float: left;
  position: relative;
  width: 100%;
  box-shadow: none;
  z-index: 0;
  &:hover {
    @include outline-shadow;
    z-index: 10;
  }
  &:active {
    @include emphasis-shadow;
    z-index: 10;
  }
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .block-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gainsboro;
  }
}

.block-2 {
  @extend .block;
  width: 100%;
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 50%;
  }
}

.block-3 {
  @extend .block;
  width: 100%;
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 33.3333%;
  }
}

.block-4 {
  @extend .block;
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 25%;
  }
}

.block-6 {
  @extend .block;
  width: 50%;
  @include tablet {
    width: 33.33333%;
  }
  @include desktop {
    width: 16.66666%;
  }
}