.modal {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.2);
  z-index: 800;
  transition: all 0.3s;
}
.modal-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 780px;
  background-color: green;
  @include outline-shadow;
}
.modal-header {
  font-family: zekton, sans-serif;
  font-size: 32px;
  color: $teal-accent-1;
  height: 90px;
  margin: 0;
  width: 100%;
  padding: 30px;
}

.modal-content {
  height: 600px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  line-height: 80px;
  text-align: center;
}

.modal-footer {
  float: right;
  height: 90px;
  padding: 20px;
  div {
    margin: 10px;
  }
}

//Confirm, ok, string input modals shared
.modal-1{
  position: fixed;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.2);
  z-index: 900;
  transition: all 0.6s;
}
.modal-1-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: green;
  @include outline-shadow;
}
.modal-1-content  {
  width: 100%;
  padding: 30px;
  text-align: center;
  float: left;
}
.modal-1-footer {
  float: right;
  height: 90px;
  padding: 20px;
  div {
    margin: 10px;
  }
}

.modal-string input, .modal input, .modal-1 input {
  width: 100%;
}
.modal-string-header {
  text-align: center;
  padding: 30px;
  width: 100%;
}


.modal-1.modal-ok, .modal-1.modal-confirm {
  z-index: 999;
}

.modal-progress {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.2);
  z-index: 1000;
  transition: all 1s;
}
.modal-progress-inner {
  padding: 30px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: green;
  @include outline-shadow;
}


//Select images
.modal-options {
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
  padding: 0 10px;
  .modal-option {
    line-height: 100%;
    white-space: nowrap;
    text-align: center;
    width: 230px;
    height: 230px;
    margin: 0;
    float: left;
    border: 3px solid;
    border-color: rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      flex: 0 0 auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .selected{
    border-color: $orange-accent-4;
  }
}
