.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.2);
  z-index: 800;
  transition: all 0.3s;
}
.modal-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 780px;
  background-color: green;
  @include outline-shadow;
}
.modal-header {
  font-family: zekton, sans-serif;
  font-size: 32px;
  color: $teal-accent-1;
  height: 90px;
  margin: 0;
  width: 100%;
  padding: 30px;
}
.modal-footer {
  float: right;
  height: 90px;
  padding: 20px;
  div {
    margin: 10px;
  }
}
.modal-select-image {
  height: 600px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  line-height: 80px;
  text-align: center;

}
.images {
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
  padding: 0 10px;
  .modal-image {
    width: 230px;
    height: 230px;
    margin: 0;
    float: left;
    border: 3px solid;
    border-color: rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      flex: 0 0 auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
