@import "variables_mixins";

p {
  font-size: 17px;
  @include small-desktop {
    font-size: 17px;
  }
  @include medium-desktop {
    font-size: 19px;
  }
  @include large-desktop {
    font-size: 19px;
  }
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $cyan-accent-3;
  &:hover {
    text-decoration: underline;
  }
}





#header {
  font-family: zekton, sans-serif;
}

.heading {
  font-family: zekton, sans-serif;
  font-weight: bold;
}



h2 {
  @extend .heading;



  font-size: 28px;
  @include tablet {
    font-size: 42px;
  }
  @include desktop {
    font-size:42px;
  }
}
#body h2 {
  color: $teal-accent-2;
}
#selection-bar h2 {
  color: $orange-accent-1;
}

h3 {
  @extend .heading;


  font-size: 26px;
  @include tablet {
    font-size: 34px;
  }
  @include desktop {
    font-size:34px;
  }
}

#body h3 {
  color: $teal-accent-2;
}
#selection-bar h3 {
  color: $orange-lighten-3;
}

h4 {
  @extend .heading;

  font-size: 20px;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size:24px;
  }
}
#body h4 {
  color: $teal-accent-1;
}
#selection-bar h4 {
  color: $orange-lighten-4;
}