$header-height : 50px;


$tablet-width: 640px;
$small-desktop-width: 1024px;
$medium-desktop-width: 1280px;
$large-desktop-width: 1440px;
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$small-desktop-width}) {
    @content;
  }
}
@mixin small-desktop {
  @media (min-width: #{$small-desktop-width}) and (max-width: #{$medium-desktop-width - 1px}) {
    @content;
  }
}
@mixin medium-desktop {
  @media (min-width: #{$medium-desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}
@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}


@mixin outline-shadow {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  @include tablet {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  }
  @include desktop {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }
}
@mixin emphasis-shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
  @include tablet {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.8);
  }
  @include desktop {
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.8);
  }
}


