@import 'variables_mixins';
@import 'defaults';

@import 'text';
@import 'header';
@import 'footer';
@import 'carousel';
@import 'layout';
@import 'content';


.outline {
  border: 3px solid red;
}





html {
  min-height: 100%;
}

body {
  background-color: #b2dfdb ;
  min-height: 100%;

  margin: 0;
  padding: 0;
}

#body {

}


#title-bar {
  background-color: darkorange;
  min-height: 150px;
  width: 100%;
}