@import 'variables_mixins';
@import 'color';
@import 'font';
@import 'defaults';

@import 'text';
@import 'header';
@import 'selection-bar';
@import 'footer';
@import 'carousel';
@import 'layout_block';
@import 'layout_structure';
@import 'layout_content';
@import 'title';


.outline {
  border: 3px solid red;
}



html {
  min-height: 100%;
}

body {
  background-color: $teal;
  min-height: 100%;

  margin: 0;
  padding: 0;
}

#body {
  color: $teal-accent-1;
}



