<div class="row">
    <div class="column">
        <div class="title"><h1>Title</h1>

            <div class="sub-title"> - sub-title</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="content-section">
            <div class="content-row">
                <div class="sidebar">
                    <div class="img">
                        <img src="/FIRST/Aerial_Assist/img/14-logo.png" class="iw-mTrigger">
                    </div>
                </div>
                <div class="content">
                    <div class="youtube">
                        <div class="data-fix">https://www.youtube.com/embed/oxp4dkMQ1Vo</div>
                        <iframe src="https://www.youtube.com/embed/oxp4dkMQ1Vo" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                    <h3>Two column section content</h3>

                    <p>Note: the editor breaks some formatting, so preview to confirm.</p>

                    <p>You can copy, cut, paste, undo changes made to this block of content, copy contents from the
                        content editor
                        of another page, or copy content from a Google/Word document.</p>

                    <p>Keep in mind that the formatting may change when copying from an outside document</p>

                    <p>Add other types of content using the buttons on the bottom of the screen.</p>

                    <h3>h3</h3><h4>h4</h4>

                    <p>paragraph</p>
                    <ul>
                        <li>list item</li>
                    </ul>

                    <img src="/Error/img/broken.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
