<div class="row">
    <div class="column">
        <div class="title"><h1>Title</h1>

            <div class="sub-title"><p> - Sub-title</p></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="content-section">
            <div class="content-row">
                <h3>Single column section</h3>
                <p>Note: the editor breaks some formatting, so preview to confirm.</p>
                <p></p>
                <p>This works the same way as the content in a two column section.</p>
                <p>You can event copy/paste or drag between the two</p>
                <p>Or you can copy/paste from editors for other pages, or even word documents/Google docs</p>
                <div class="iframe" data-height="900" style="height:900px;">
                    <div class="data-fix">https://docs.google.com/document/d/1zT_gNQdTxyv2xRDKEc9NSDTdhvwKA-HUMCH46tFxX5Y/edit</div>
                    <iframe src="https://docs.google.com/document/d/1R4HvmpgQRR36w3B0fZN3irQkrtDvI8x5pdGTCiN_KR8/edit"  height="900"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>