<style>#header-filler {
    position: absolute;
}

#footer {
    display: none;
}</style>
<div id="fullpage">
    <div class="section" style="background-image:url('http://www.team696.org/staging/images/wiring--resized.jpg');">
        <div class="section-inner">
            <div class="content"><h1>h1</h1>

                <h2>h2 (optional)</h2>

                <p>You can copy paste stuff from the editors of other content pages or from word/google docs.</p>

                <p>Feel free to add more sections by clicking outside this purple editor, and drag to rearrange in
                    rearrange mode.</p>
            </div>
        </div>
    </div>
    <div class="section"
         style="background-image:url('http://www.team696.org/staging/img/background-images/background4.JPG');">
        <div class="section-inner">
            <div class="title"><h1>Title</h1>

                <div class="sub-title"><p>- Subtitle</p></div>
            </div>
            <a onclick="moveSectionDown();" href="" class="scroll-for-more"><img src="/icon/down.svg"></a>
        </div>
    </div>
</div>